extends ../layout

block content

    div(class="row-fluid")
        div(class="well well-sm")
            ul(class="nav nav-pills")
                li(role="presentation" class=(active === 'current' ? 'active' : ''))
                        a(href="/bookings/planes?type=current")= "Current flights"
                li(role="presentation" class=(active === 'past' ? 'active' : ''))
                    a(href="/bookings/planes?type=past")= "Past flights"
                li(role="presentation")
                    a(href="/bookings/planes/new")= "Add flight"
    if flights_length
        div(class="row-fluid")
            table(class="table table-hover table-condensed table-bordered")
                tr
                    th= 'Total'
                    th= 'Average'
                    th= 'Bookings'
                    th= 'Single'
                    th= 'Return'
                tr
                    td(class="info")= '£' + total_cost
                    td= '£' + average_cost
                    td= flights_length
                    td= flights_length - return_flights_length
                    td= return_flights_length
        div(class="row-fluid")
            table(class="table table-hover table-condensed table-bordered")
                tr
                    th
                    th= 'Code'
                    th(class="t ext-right")= 'Price'
                    th= 'Going out'
                    th= 'Coming back'
                    th= 'Departs from'
                    th= 'Arrives to'
                each flight, index in flights
                    tr
                        td(class="text-right")= (index + 1 + ((current_page - 1) * max_per_page)) + '.'
                        td= flight.confirmation_code
                        td(class="text-right")= '£' + flight.price
                        td= flight.going_out
                        td= flight.coming_back
                        td= flight.from
                        td= flight.to
    else
        p= 'No ' + title.toLowerCase() + '.'



    - if (flights_length > max_per_page) {
        div(class="row-fluid")
            nav(aria-label="Page navigation")
                ul(class="pagination pagination-sm")
                    - if (!is_first_page) {
                        li
                            a(href="?type=" + active + "&page=" + (current_page - 1) aria-label="Previous")
                                span(aria-hidden="true") &laquo;
                    - }
                    - for (var i = 1; i <= pages_count; i++) {
                        li(class=(current_page == i ? "active" : ""))
                            a(href="?type=" + active + "&page=" + i)= i
                    - }
                    - if (!is_last_page) {
                        li
                            a(href="?type=" + active + "&page=" + (current_page + 1) aria-label="Next")
                                span(aria-hidden="true") &raquo;
                    - }
    - }