extends ../layout
block stylesheets
    link(rel='stylesheet', href='//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css')

block content

    div(class="row-fluid")
        include includes/nav.pug
    form(method="POST", action="/bookings/planes" class="form-horizontal")
        div(class="form-group")
            label(for="confirmation-code" class="col-sm-2 control-label") Confirmation code
            div(class="col-sm-10")
                input(
                    type="text"
                    name="confirmation_code"
                    class="form-control"
                    id="confirmation-code"
                )
        div(class="form-group")
            label(for="from" class="col-sm-2 control-label") Flying from
            div(class="col-sm-10")
                input(
                    type="text"
                    name="from"
                    class="form-control"
                    id="from"
                )
        div(class="form-group")
            label(for="to" class="col-sm-2 control-label") Flying to
            div(class="col-sm-10")
                input(
                    type="text"
                    name="to"
                    class="form-control"
                    id="to"
                )
        div(class="form-group")
            label(for="departure-date" class="col-sm-2 control-label") Departure date
            div(class="col-sm-10")
                input(
                    type="text"
                    name="departure_date"
                    class="form-control"
                    id="departure-date"
                )
        div(class="form-group")
            label(for="departure-time" class="col-sm-2 control-label") Departure time
            div(class="col-sm-10")
                input(
                    type="text"
                    name="departure_time"
                    class="form-control"
                    id="departure-time"
                )
        div(class="form-group")
            label(for="arrival-time" class="col-sm-2 control-label") Arrival time
            div(class="col-sm-10")
                input(
                    type="text"
                    name="arrival_time"
                    class="form-control"
                    id="arrival-time"
                )
        div(class="form-group")
            label(for="seat" class="col-sm-2 control-label") Seat
            div(class="col-sm-10")
                input(
                    type="text"
                    name="seat"
                    class="form-control"
                    id="seat"
                )
        div(class="form-group")
            label(for="price" class="col-sm-2 control-label") Price
            div(class="col-sm-10")
                input(
                    type="text"
                    name="price"
                    class="form-control"
                    id="price"
                )
        div(class="form-group")
            label(for="currency" class="col-sm-2 control-label") Currency
            div(class="col-sm-10")
                select(
                    name="currency"
                    class="form-control"
                    id="currency"
                )
                    each currency in currencies
                        option(value= currency)= currency
        div(class="form-group")
            label(for="checked-in" class="col-sm-2 control-label") Checked in
            div(class="col-sm-10")
                input(
                    type="checkbox"
                    name="checked_in"
                    class="form-control"
                    value="1"
                    id="checked-in"
                )
        div(class="form-group")
            label(for="is-return" class="col-sm-2 control-label") Is return flight?
            div(class="col-sm-10")
                input(
                    type="checkbox"
                    name="is_return"
                    class="form-control"
                    value="1"
                    id="is-return"
                )
        div(class="form-group")
            label(for="return-departure-date" class="col-sm-2 control-label") Return departure date
            div(class="col-sm-10")
                input(
                    type="text"
                    name="return_departure_date"
                    class="form-control"
                    id="return-departure-date"
                )
        div(class="form-group")
            label(for="return-departure-time" class="col-sm-2 control-label") Return departure time
            div(class="col-sm-10")
                input(
                    type="text"
                    name="return_departure_time"
                    class="form-control"
                    id="return-departure-time"
                )
        div(class="form-group")
            label(for="return-arrival-time" class="col-sm-2 control-label") Return arrival time
            div(class="col-sm-10")
                input(
                    type="text"
                    name="return_arrival_time"
                    class="form-control"
                    id="return-arrival-time"
                )
        div(class="form-group")
            label(for="return-seat" class="col-sm-2 control-label") Return seat
            div(class="col-sm-10")
                input(
                    type="text"
                    name="return_seat"
                    class="form-control"
                    id="return-seat"
                )
        div(class="form-group")
            div(class="col-sm-offset-2 col-sm-10")
                button(type="submit" class="btn btn-default")= 'Add ' + title.toLowerCase()
block javascripts
    script(src="/javascripts/datepicker.js")
    script(src="/javascripts/flights/new.js")
