extends ../layout

block content

    h1= title
    div(class="row-fluid")
        ul(class="nav nav-pills")
            li(role="presentation")
                    a(href="/bookings/trains?type=current")= "Current trains"
            li(role="presentation")
                a(href="/bookings/trains?type=past")= "Past trains"
            li(role="presentation")
                a(href="/bookings/trains/new")= "Add train"
    if trains_length
        div(class="row-fluid")
            table(class="table table-hover")
                tr
                    th
                    th= 'Going out'
                    th= 'Coming back'
                    th= 'Departs from'
                    th= 'Arrives to'
                    th(class="text-right")= 'Price'
                each train, index in trains
                    tr
                        td(class="text-right")= index + 1 + '.'
                        td= train.going_out
                        td= train.coming_back
                        td= train.from
                        td= train.to
                        td(class="text-right")= train.currency + train.price
                else
                    p= 'No ' + title.toLowerCase() + '.'
                tr
                    td(colspan="4")
                    td(class="text-right")
                        strong= "All bookings:"
                    td(class="text-right")
                        strong= trains_length
                tr
                    td(colspan="4")
                    td(class="text-right")
                        strong= "Single bookings:"
                    td(class="text-right")
                        strong= trains_length - return_trains_length
                tr
                    td(colspan="4")
                    td(class="text-right")
                        strong= "Return bookings:"
                    td(class="text-right")
                        strong= return_trains_length
                tr
                    td(colspan="4")
                    td(class="text-right")
                        strong= "Average cost per single travel:"
                    td(class="text-right")
                        strong= trains[0].currency + average_cost
                tr
                    td(colspan="4")
                    td(class="text-right")
                        strong= "Total cost of train travels:"
                    td(class="text-right")
                        strong= trains[0].currency + total_cost

    if page > 0
        a(href="?page=" + (page - 1)) Previous
    if !last_page
        a(href="?page=" + (page + 1)) Next