extends ../layout

block content

    h1= title
    div(class="row-fluid")
        ul(class="nav nav-pills")
            li(role="presentation")
                    a(href="/bookings/buses?type=current")= "Current buses"
            li(role="presentation")
                a(href="/bookings/buses?type=past")= "Past buses"
            li(role="presentation")
                a(href="/bookings/buses/new")= "Add bus"
    if buses_length
        div(class="row-fluid")
            table(class="table table-hover")
                tr
                    th
                    th= 'Booking No.'
                    th= 'Going out'
                    th= 'Coming back'
                    th= 'Departs from'
                    th= 'Arrives to'
                    th(class="text-right")= 'Price'
                each bus, index in buses
                    tr
                        td(class="text-right")= index + 1 + '.'
                        td= bus.booking_number
                        td= bus.going_out
                        td= bus.coming_back
                        td= bus.from
                        td= bus.to
                        td(class="text-right")= bus.currency + bus.price
                else
                    p= 'No ' + title.toLowerCase() + '.'
                tr
                    td(colspan="5")
                    td(class="text-right")
                        strong= "All bookings:"
                    td(class="text-right")
                        strong= buses_length
                tr
                    td(colspan="5")
                    td(class="text-right")
                        strong= "Single bookings:"
                    td(class="text-right")
                        strong= buses_length - return_buses_length
                tr
                    td(colspan="5")
                    td(class="text-right")
                        strong= "Return bookings:"
                    td(class="text-right")
                        strong= return_buses_length
                tr
                    td(colspan="5")
                    td(class="text-right")
                        strong= "Average cost per single travel:"
                    td(class="text-right")
                        strong= buses[0].currency + average_cost
                tr
                    td(colspan="5")
                    td(class="text-right")
                        strong= "Total cost of bus travels:"
                    td(class="text-right")
                        strong= buses[0].currency + total_cost

    if page > 0
        a(href="?page=" + (page - 1)) Previous
    if !last_page
        a(href="?page=" + (page + 1)) Next