extends ../layout
block content

    h1= user.full_name
    h2 Bio
    p= user.bio
    h2 Email
    p= user.email
    h2 Gender
    p= user.gender
    h2 Birthday
    p= user.birthday
    - if (user.twitter) {
        h2 Twitter
        p
        a(href= user.twitter_url)="@" + user.twitter
    - }
    h2 Recent Articles:
    - if (undefined !== articles) {
        p
            ul
                - articles.forEach(function(article) {
                    li
                        a(href="/articles/" + encodeURIComponent(article.title))= article.title
                - });
    - }