extends ../layout
block stylesheets
    link(rel='stylesheet', href='//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css')

block content

    h1= title
    div(class="row-fluid")
            ul(class="nav nav-pills")
                li(role="presentation")
                        a(href="/bookings/hostels?type=current")= "Current hostels"
                li(role="presentation")
                    a(href="/bookings/hostels?type=past")= "Past hostels"
                li(role="presentation")
                    a(href="/bookings/hostels/new")= "Add hostel"
    form(method="POST", action="/bookings/hostels" class="form-horizontal")
        div(class="form-group")
            label(for="booking-number" class="col-sm-2 control-label") Booking number
            div(class="col-sm-10")
                input(
                    type="text"
                    name="booking_number"
                    class="form-control"
                    id="booking-number"
                )
        div(class="form-group")
            label(for="hostel-name" class="col-sm-2 control-label") Hostel name
            div(class="col-sm-10")
                input(
                    type="text"
                    name="hostel_name"
                    class="form-control"
                    id="hostel-name"
                )
        div(class="form-group")
            label(for="hostel-address" class="col-sm-2 control-label") Hostel address
            div(class="col-sm-10")
                input(
                    type="text"
                    name="hostel_address"
                    class="form-control"
                    id="hostel-address"
                )
        div(class="form-group")
            label(for="checkin-date" class="col-sm-2 control-label") Check-in date
            div(class="col-sm-10")
                input(
                    type="text"
                    name="checkin_date"
                    class="form-control"
                    id="checkin-date"
                )
        div(class="form-group")
            label(for="checkout-date" class="col-sm-2 control-label") Check-out date
            div(class="col-sm-10")
                input(
                    type="text"
                    name="checkout_date"
                    class="form-control"
                    id="checkout-date"
                )
        div(class="form-group")
            label(for="price" class="col-sm-2 control-label") Price
            div(class="col-sm-10")
                input(
                    type="text"
                    name="price"
                    class="form-control"
                    id="price"
                )
        div(class="form-group")
            label(for="currency" class="col-sm-2 control-label") Currency
            div(class="col-sm-10")
                select(
                    name="currency"
                    class="form-control"
                    id="currency"
                )
                    each currency in currencies
                        option(value= currency)= currency
        div(class="form-group")
            div(class="col-sm-offset-2 col-sm-10")
                button(type="submit" class="btn btn-default")= 'Add ' + title.toLowerCase()
block javascripts
    script(src="/javascripts/datepicker.js")
    script(src="/javascripts/hostels/new.js")
