extends ../layout

block content

    h1= title
    if flights.length
        table(class="table")
            tr
                th
                th= 'Confirmation No.'
                th= 'Checked in'
                th= 'Going out'
                th= 'Coming back'
                th= 'Departs from'
                th= 'Arrives to'
                th(class="text-right")= 'Price'
            each flight, index in flights
                tr
                    td(class="text-right")= index + 1 + '.'
                    td= flight.confirmation_code
                    td= flight.checked_in ? 'Yes' : 'No'
                    td= flight.going_out
                    td= flight.coming_back
                    td= flight.from
                    td= flight.to
                    td(class="text-right")= flight.price + ' ' + flight.currency
            else
                p= 'No ' + title.toLowerCase() + '.'
            tr
                td(colspan="8" class="text-right")
                    strong= user_cost + ' ' + flights[0].currency

    if page > 0
        a(href="?page=" + (page - 1)) Previous
    if !lastPage
        a(href="?page=" + (page + 1)) Next